<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<mappers>-->
    <!--<mapper resource="classpath:com/wulin/dal/mapper/UserMapper.xml"/>-->
    <!--</mappers>-->
    <!--<typeAliases>-->
    <!--<typeAlias alias="UserPwdConfigMapper" type="com.wulin.dal.userPwdConfig.entity.UserPwdConfigDO"/>-->
    <!--</typeAliases>-->
    <!--<settings>-->
        <!--<setting name="logImpl" value="LOG4J"/>-->
    <!--</settings>-->
</configuration>